In [ ]:
!pip install tensorflow-text
import tensorflow_text as text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow-text in /usr/local/lib/python3.8/dist-packages (2.11.0)
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-text) (0.12.0)
Requirement already satisfied: tensorflow<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-text) (2.11.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (2.1.1)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.6.3)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.19.6)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (21.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (57.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (4.4.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (2.11.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.14.1)
Requirement already satisfied: keras<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (2.11.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.15.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.51.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.28.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (14.0.6)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.2.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.21.6)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.3.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (2.11.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (22.12.6)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.38.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.6)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.6.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.0.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.23.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.15.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (5.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.11.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.0.9)

In [ ]:
import tensorflow as tf
import tensorflow_hub as hub

import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/data_for_colab/IMDB Dataset.csv')

df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [ ]:
df['is_positive'] = (df['sentiment'] == 'positive').astype(int)

In [ ]:
df.drop(columns=['sentiment'], inplace=True)

In [ ]:
df.columns = ['DATA_COLUMN', 'LABEL_COLUMN']
df

                                             DATA_COLUMN  LABEL_COLUMN
0      One of the other reviewers has mentioned that ...             1
1      A wonderful little production. <br /><br />The...             1
2      I thought this was a wonderful way to spend ti...             1
3      Basically there's a family where a little boy ...             0
4      Petter Mattei's "Love in the Time of Money" is...             1
...                                                  ...           ...
49995  I thought this movie did a down right good job...             1
49996  Bad plot, bad dialogue, bad acting, idiotic di...             0
49997  I am a Catholic taught in parochial elementary...             0
49998  I'm going to have to disagree with the previou...             0
49999  No one expects the Star Trek movies to be high...             0

[50000 rows x 2 columns]

In [ ]:
df.head(5)

                                         DATA_COLUMN  LABEL_COLUMN
0  One of the other reviewers has mentioned that ...             1
1  A wonderful little production. <br /><br />The...             1
2  I thought this was a wonderful way to spend ti...             1
3  Basically there's a family where a little boy ...             0
4  Petter Mattei's "Love in the Time of Money" is...             1

In [ ]:
df['LABEL_COLUMN'].value_counts()

1    25000
0    25000
Name: LABEL_COLUMN, dtype: int64

In [ ]:
df_positive = df[df['LABEL_COLUMN']==1]

In [ ]:
df_negative = df[df['LABEL_COLUMN']==0]

In [ ]:
df_negative

                                             DATA_COLUMN  LABEL_COLUMN
3      Basically there's a family where a little boy ...             0
7      This show was an amazing, fresh & innovative i...             0
8      Encouraged by the positive comments about this...             0
10     Phil the Alien is one of those quirky films wh...             0
11     I saw this movie when I was about 12 when it c...             0
...                                                  ...           ...
49994  This is your typical junk comedy.<br /><br />T...             0
49996  Bad plot, bad dialogue, bad acting, idiotic di...             0
49997  I am a Catholic taught in parochial elementary...             0
49998  I'm going to have to disagree with the previou...             0
49999  No one expects the Star Trek movies to be high...             0

[25000 rows x 2 columns]

In [ ]:
# Для тестовой выборки берем последние 10% негативных отзывов и последние 10% позитивных отзывов

In [ ]:
n_test = df_negative.shape[0] // 10 # в оригинале df_negative.shape[0] // 10
df_negative_test = df_negative.tail(n_test)
n_test = df_positive.shape[0] // 10 # df_positive.shape[0] // 10

df_positive_test = df_positive.tail(n_test)

In [ ]:
df_positive_test

                                             DATA_COLUMN  LABEL_COLUMN
44910  One of the most heart-warming foreign films I'...             1
44911  David Lynch's (1999) film of John Roach / Mary...             1
44916  This is definitely Nolan's most intimite,and t...             1
44925  Before I watched this tv movie I did not know ...             1
44927  I just managed to find a copy of "Mission Cleo...             1
...                                                  ...           ...
49983  I loved it, having been a fan of the original ...             1
49985  Imaginary Heroes is clearly the best film of t...             1
49989  I got this one a few weeks ago and love it! It...             1
49992  John Garfield plays a Marine who is blinded by...             1
49995  I thought this movie did a down right good job...             1

[2500 rows x 2 columns]

In [ ]:
df_balanced_test = pd.concat([df_negative_test, df_positive_test])

In [ ]:
df_balanced_test.sample(10)

                                             DATA_COLUMN  LABEL_COLUMN
47524  I first saw this film in 1959 at the Hoyts Dou...             1
47927  (this may be a bit on the spoilerish side) I w...             0
46418  Very rarely do I give less rave reviews on a s...             0
48442  The Godfather Part I was a stunning look insid...             0
45826  Well, what can be said about a "horror comedy"...             0
49453  The film opens with a peaceful shot of a tradi...             0
48193  I love watching Australian movies but this ste...             0
45639  A sparkling movie. BB is a marvel. She's sultr...             1
49537  The core issues at play (God & Satan / Good & ...             0
45285  About 15 minutes in, my wife was already wanti...             0

In [ ]:
df_balanced_test['LABEL_COLUMN'].value_counts()

0    2500
1    2500
Name: LABEL_COLUMN, dtype: int64

In [ ]:
# Для обучающей выборки берем первые 2.5% из начала датасета.

In [ ]:
n_train = df_negative.shape[0] // 40 # в оригинале df_negative.shape[0] // 40
df_negative_train = df_negative.head(n_train)
n_train = df_positive.shape[0] // 40 # в оригианале df_positive.shape[0] // 40
df_positive_train = df_positive.head(n_train)

In [ ]:
df_balanced_train = pd.concat([df_negative_train, df_positive_train])

In [ ]:
df_balanced_train['LABEL_COLUMN'].value_counts()

0    625
1    625
Name: LABEL_COLUMN, dtype: int64

In [ ]:
df_balanced_train.sample(10)

                                            DATA_COLUMN  LABEL_COLUMN
1212  This is a really mediocre film in the vein of ...             0
460   An intense thriller about a mute movie make-up...             1
561   {rant start} I didn't want to believe them at ...             0
208   I just started watching The Show around July. ...             1
433   In 1929, director Walt Disney and animator Ub ...             1
267   Tainted look at kibbutz life<br /><br />This f...             0
1202  This movie is simply not worth the time or mon...             0
605   Some people may call "Cooley High" the same so...             1
20    After the success of Die Hard and it's sequels...             1
176   This movie took me by surprise. The opening cr...             1

In [ ]:
X_train = df_balanced_train['DATA_COLUMN'].squeeze()
y_train = df_balanced_train['LABEL_COLUMN'].squeeze()

In [ ]:
X_test = df_balanced_test['DATA_COLUMN'].squeeze()
y_test = df_balanced_test['LABEL_COLUMN'].squeeze()

In [ ]:
albert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/albert_en_preprocess/3")
# https://tfhub.dev/tensorflow/albert_en_preprocess

WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.data_structures has been moved to tensorflow.python.trackable.data_structures. The old module will be deleted in version 2.11.

In [ ]:
albert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/albert_en_base/3")

In [ ]:
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = albert_preprocess(text_input)
outputs = albert_encoder(preprocessed_text)

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/autograph/pyct/static_analysis/liveness.py:83: Analyzer.lamba_check (from tensorflow.python.autograph.pyct.static_analysis.liveness) is deprecated and will be removed after 2023-09-23.
Instructions for updating:
Lambda fuctions will be no more assumed to be used in the statement where they are used, or at least in the same block. https://github.com/tensorflow/tensorflow/issues/56089

In [ ]:
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
l = tf.keras.layers.Dense(1, activation='sigmoid', name="output")(l)

In [ ]:
model = tf.keras.Model(inputs=[text_input], outputs = [l])

In [ ]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_mask': (Non  0           ['text[0][0]']
                                e, 128),
                                 'input_type_ids':
                                (None, 128),
                                 'input_word_ids':
                                (None, 128)}

 keras_layer_1 (KerasLayer)     {'sequence_output':  11683584    ['keras_layer[0][0]',
                                 (None, 128, 768),                'keras_layer[0][1]',
                                 'encoder_outputs':               'keras_layer[0][2]']
                                 [(None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768)],
                                 'default': (None,
                                768),
                                 'pooled_output': (
                                None, 768)}

 dropout (Dropout)              (None, 768)          0           ['keras_layer_1[0][13]']

 output (Dense)                 (None, 1)            769         ['dropout[0][0]']

==================================================================================================
Total params: 11,684,353
Trainable params: 769
Non-trainable params: 11,683,584
__________________________________________________________________________________________________

In [ ]:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy'),
      tf.keras.metrics.Precision(name='precision'),
      tf.keras.metrics.Recall(name='recall')
]

model.compile(optimizer='adam',
 loss='binary_crossentropy',
 metrics=METRICS)

In [ ]:
history = model.fit(X_train, y_train, epochs=15)

Epoch 1/15
40/40 [==============================] - 571s 14s/step - loss: 0.7407 - accuracy: 0.4808 - precision: 0.4819 - recall: 0.5104
Epoch 2/15
40/40 [==============================] - 553s 14s/step - loss: 0.7252 - accuracy: 0.5176 - precision: 0.5190 - recall: 0.4800
Epoch 3/15
40/40 [==============================] - 559s 14s/step - loss: 0.6973 - accuracy: 0.5232 - precision: 0.5250 - recall: 0.4864
Epoch 4/15
40/40 [==============================] - 552s 14s/step - loss: 0.6975 - accuracy: 0.5320 - precision: 0.5312 - recall: 0.5440
Epoch 5/15
40/40 [==============================] - 552s 14s/step - loss: 0.6733 - accuracy: 0.5640 - precision: 0.5641 - recall: 0.5632
Epoch 6/15
40/40 [==============================] - 551s 14s/step - loss: 0.6737 - accuracy: 0.5792 - precision: 0.5889 - recall: 0.5248
Epoch 7/15
40/40 [==============================] - 557s 14s/step - loss: 0.6755 - accuracy: 0.5744 - precision: 0.5683 - recall: 0.6192
Epoch 8/15
40/40 [==============================] - 559s 14s/step - loss: 0.6664 - accuracy: 0.5888 - precision: 0.5858 - recall: 0.6064
Epoch 9/15
40/40 [==============================] - 562s 14s/step - loss: 0.6679 - accuracy: 0.5944 - precision: 0.5977 - recall: 0.5776
Epoch 10/15
40/40 [==============================] - 569s 14s/step - loss: 0.6619 - accuracy: 0.6144 - precision: 0.6170 - recall: 0.6032
Epoch 11/15
40/40 [==============================] - 545s 14s/step - loss: 0.6475 - accuracy: 0.6240 - precision: 0.6224 - recall: 0.6304
Epoch 12/15
40/40 [==============================] - 545s 14s/step - loss: 0.6585 - accuracy: 0.6056 - precision: 0.6126 - recall: 0.5744
Epoch 13/15
40/40 [==============================] - 547s 14s/step - loss: 0.6308 - accuracy: 0.6560 - precision: 0.6526 - recall: 0.6672
Epoch 14/15
40/40 [==============================] - 534s 13s/step - loss: 0.6426 - accuracy: 0.6216 - precision: 0.6226 - recall: 0.6176
Epoch 15/15
40/40 [==============================] - 533s 13s/step - loss: 0.6306 - accuracy: 0.6408 - precision: 0.6333 - recall: 0.6688

In [37]:
y_predicted = model.predict(X_test)
# y_predicted

157/157 [==============================] - 2150s 14s/step

In [38]:
y_predicted = y_predicted.flatten()

y_predicted

array([0.54566807, 0.48042285, 0.4638974 , ..., 0.46518916, 0.6935629 ,
       0.5888905 ], dtype=float32)

In [39]:
import numpy as np

y_predicted = np.where(y_predicted > 0.5, 1, 0)
y_predicted

array([1, 0, 0, ..., 0, 1, 1])

In [40]:

y_test_array = np.array(y_test)

In [41]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_predicted)

0.695

In [42]:
from sklearn.metrics import precision_score
precision_score(y_test_array, y_predicted)

0.6899104012465913

In [43]:
from sklearn.metrics import recall_score
recall_score(y_test_array, y_predicted)

0.7084

In [44]:
from sklearn.metrics import f1_score
f1_score(y_test_array, y_predicted)

0.6990329583580027

In [45]:
df_results_for_reviews_on_movies = pd.DataFrame(columns=['accuracy', 'precision', 'recall', 'f1_score'])

In [46]:
df_results_for_reviews_on_movies.loc['reviews on movies', 'accuracy'] = accuracy_score(y_test, y_predicted)
df_results_for_reviews_on_movies.loc['reviews on movies', 'precision'] = precision_score(y_test, y_predicted)
df_results_for_reviews_on_movies.loc['reviews on movies', 'recall'] = recall_score(y_test, y_predicted)
df_results_for_reviews_on_movies.loc['reviews on movies', 'f1_score'] =  f1_score(y_test_array, y_predicted)

In [47]:
df_results_for_reviews_on_movies

                  accuracy precision  recall  f1_score
reviews on movies    0.695   0.68991  0.7084  0.699033

In [48]:
saved_model_path = '/content/drive/MyDrive/data_for_colab/albert_trained_on_imdb_23_december_with_15_epochs'

In [49]:
print(saved_model_path)

/content/drive/MyDrive/data_for_colab/albert_trained_on_imdb_23_december_with_15_epochs

In [50]:
model.save(saved_model_path, include_optimizer=True)

WARNING:absl:Found untraced functions such as _update_step_xla, restored_function_body, restored_function_body, restored_function_body, restored_function_body while saving (showing 5 of 37). These functions will not be directly callable after loading.