In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install tensorflow-text
import tensorflow_text as text
import tensorflow as tf
import tensorflow_hub as hub
import pandas as pd

import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow-text
  Downloading tensorflow_text-2.11.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 4.9 MB/s
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-text) (0.12.0)
Collecting tensorflow<2.12,>=2.11.0
  Downloading tensorflow-2.11.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (588.3 MB)
     |████████████████████████████████| 588.3 MB 19 kB/s
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.19.6)
Collecting flatbuffers>=2.0
  Downloading flatbuffers-22.12.6-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (21.3)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.3.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.14.1)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.21.6)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (2.1.1)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (4.4.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.51.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (57.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (14.0.6)
Collecting keras<2.12,>=2.11.0
  Downloading keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 41.0 MB/s
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.15.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.3.0)
Collecting tensorboard<2.12,>=2.11
  Downloading tensorboard-2.11.0-py3-none-any.whl (6.0 MB)
     |████████████████████████████████| 6.0 MB 42.4 MB/s
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.6.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.28.0)
Collecting tensorflow-estimator<2.12,>=2.11.0
  Downloading tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
     |████████████████████████████████| 439 kB 51.5 MB/s
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.38.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.15.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.4.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.23.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (5.2.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (5.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.11.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2022.12.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.0.9)
Installing collected packages: tensorflow-estimator, tensorboard, keras, flatbuffers, tensorflow, tensorflow-text
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.9.0
    Uninstalling tensorflow-estimator-2.9.0:
      Successfully uninstalled tensorflow-estimator-2.9.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.9.1
    Uninstalling tensorboard-2.9.1:
      Successfully uninstalled tensorboard-2.9.1
  Attempting uninstall: keras
    Found existing installation: keras 2.9.0
    Uninstalling keras-2.9.0:
      Successfully uninstalled keras-2.9.0
  Attempting uninstall: flatbuffers
    Found existing installation: flatbuffers 1.12
    Uninstalling flatbuffers-1.12:
      Successfully uninstalled flatbuffers-1.12
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.9.2
    Uninstalling tensorflow-2.9.2:
      Successfully uninstalled tensorflow-2.9.2
Successfully installed flatbuffers-22.12.6 keras-2.11.0 tensorboard-2.11.0 tensorflow-2.11.0 tensorflow-estimator-2.11.0 tensorflow-text-2.11.0

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data_for_colab/IMDB Dataset.csv')

In [ ]:
df['is_positive'] = (df['sentiment'] == 'positive').astype(int)
df.drop(columns=['sentiment'], inplace=True)
df.columns = ['DATA_COLUMN', 'LABEL_COLUMN']

In [ ]:
df

                                             DATA_COLUMN  LABEL_COLUMN
0      One of the other reviewers has mentioned that ...             1
1      A wonderful little production. <br /><br />The...             1
2      I thought this was a wonderful way to spend ti...             1
3      Basically there's a family where a little boy ...             0
4      Petter Mattei's "Love in the Time of Money" is...             1
...                                                  ...           ...
49995  I thought this movie did a down right good job...             1
49996  Bad plot, bad dialogue, bad acting, idiotic di...             0
49997  I am a Catholic taught in parochial elementary...             0
49998  I'm going to have to disagree with the previou...             0
49999  No one expects the Star Trek movies to be high...             0

[50000 rows x 2 columns]

In [ ]:
df['LABEL_COLUMN'].value_counts()

1    25000
0    25000
Name: LABEL_COLUMN, dtype: int64

In [ ]:
df_positive = df[df['LABEL_COLUMN']==1]
df_negative = df[df['LABEL_COLUMN']==0]

In [ ]:
df_negative

                                             DATA_COLUMN  LABEL_COLUMN
3      Basically there's a family where a little boy ...             0
7      This show was an amazing, fresh & innovative i...             0
8      Encouraged by the positive comments about this...             0
10     Phil the Alien is one of those quirky films wh...             0
11     I saw this movie when I was about 12 when it c...             0
...                                                  ...           ...
49994  This is your typical junk comedy.<br /><br />T...             0
49996  Bad plot, bad dialogue, bad acting, idiotic di...             0
49997  I am a Catholic taught in parochial elementary...             0
49998  I'm going to have to disagree with the previou...             0
49999  No one expects the Star Trek movies to be high...             0

[25000 rows x 2 columns]

In [ ]:
# Для тестовой выборки берем последние 10% негативных отзывов и последние 10% позитивных отзывов

In [ ]:
n_test = df_negative.shape[0] // 10 # в оригинале df_negative.shape[0] // 10
df_negative_test = df_negative.tail(n_test)
n_test = df_positive.shape[0] // 10 # df_positive.shape[0] // 10

df_positive_test = df_positive.tail(n_test)

In [ ]:
df_positive_test

                                             DATA_COLUMN  LABEL_COLUMN
44910  One of the most heart-warming foreign films I'...             1
44911  David Lynch's (1999) film of John Roach / Mary...             1
44916  This is definitely Nolan's most intimite,and t...             1
44925  Before I watched this tv movie I did not know ...             1
44927  I just managed to find a copy of "Mission Cleo...             1
...                                                  ...           ...
49983  I loved it, having been a fan of the original ...             1
49985  Imaginary Heroes is clearly the best film of t...             1
49989  I got this one a few weeks ago and love it! It...             1
49992  John Garfield plays a Marine who is blinded by...             1
49995  I thought this movie did a down right good job...             1

[2500 rows x 2 columns]

In [ ]:
df_balanced_test = pd.concat([df_negative_test, df_positive_test])

In [ ]:
df_balanced_test['LABEL_COLUMN'].value_counts()

0    2500
1    2500
Name: LABEL_COLUMN, dtype: int64

In [ ]:
# Для обучающей выборки берем первые 2.5% из начала датасета.

In [ ]:
n_train = df_negative.shape[0] // 40 # в оригинале df_negative.shape[0] // 40
df_negative_train = df_negative.head(n_train)
n_train = df_positive.shape[0] // 40 # в оригианале df_positive.shape[0] // 40
df_positive_train = df_positive.head(n_train)

In [ ]:
df_balanced_train = pd.concat([df_negative_train, df_positive_train])

In [ ]:
X_train = df_balanced_train['DATA_COLUMN'].squeeze()
y_train = df_balanced_train['LABEL_COLUMN'].squeeze()

In [ ]:
X_test = df_balanced_test['DATA_COLUMN'].squeeze()
y_test = df_balanced_test['LABEL_COLUMN'].squeeze()

In [ ]:
mobilebert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3") # same as bert

WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.data_structures has been moved to tensorflow.python.trackable.data_structures. The old module will be deleted in version 2.11.

In [ ]:
mobilebert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/mobilebert_en_uncased_L-24_H-128_B-512_A-4_F-4_OPT/1", trainable=True)

In [ ]:
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = mobilebert_preprocess(text_input)
outputs = mobilebert_encoder(preprocessed_text)

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/autograph/pyct/static_analysis/liveness.py:83: Analyzer.lamba_check (from tensorflow.python.autograph.pyct.static_analysis.liveness) is deprecated and will be removed after 2023-09-23.
Instructions for updating:
Lambda fuctions will be no more assumed to be used in the statement where they are used, or at least in the same block. https://github.com/tensorflow/tensorflow/issues/56089

In [ ]:
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
l = tf.keras.layers.Dense(1, activation='sigmoid', name="output")(l)

In [ ]:
model = tf.keras.Model(inputs=[text_input], outputs = [l])

In [ ]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_type_ids':   0           ['text[0][0]']
                                (None, 128),
                                 'input_word_ids':
                                (None, 128),
                                 'input_mask': (Non
                                e, 128)}

 keras_layer_1 (KerasLayer)     {'encoder_outputs':  24581889    ['keras_layer[0][0]',
                                 [(None, 128, 512),               'keras_layer[0][1]',
                                 (None, 128, 512),                'keras_layer[0][2]']
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512),
                                 (None, 128, 512)],
                                 'sequence_output':
                                 (None, 128, 512),
                                 'default': (None,
                                512),
                                 'pooled_output': (
                                None, 512),
                                 'attention_scores'
                                : [(None, 4, 128, 1
                                28),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                ),
                                 (None, 4, 128, 128
                                )]}

 dropout (Dropout)              (None, 512)          0           ['keras_layer_1[0][50]']

 output (Dense)                 (None, 1)            513         ['dropout[0][0]']

==================================================================================================
Total params: 24,582,402
Trainable params: 24,582,401
Non-trainable params: 1
__________________________________________________________________________________________________

In [ ]:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy'),
      tf.keras.metrics.Precision(name='precision'),
      tf.keras.metrics.Recall(name='recall')
]

model.compile(optimizer='adam',
 loss='binary_crossentropy',
 metrics=METRICS)

In [ ]:
history = model.fit(X_train, y_train, epochs=10)

Epoch 1/10
40/40 [==============================] - 769s 16s/step - loss: 742681.0000 - accuracy: 0.5048 - precision: 0.5045 - recall: 0.5392
Epoch 2/10
40/40 [==============================] - 646s 16s/step - loss: 1.4094 - accuracy: 0.5208 - precision: 0.5208 - recall: 0.5200
Epoch 3/10
40/40 [==============================] - 663s 17s/step - loss: 1.1459 - accuracy: 0.5136 - precision: 0.5145 - recall: 0.4832
Epoch 4/10
40/40 [==============================] - 662s 17s/step - loss: 0.9830 - accuracy: 0.5536 - precision: 0.5513 - recall: 0.5760
Epoch 5/10
40/40 [==============================] - 645s 16s/step - loss: 0.7801 - accuracy: 0.6032 - precision: 0.5991 - recall: 0.6240
Epoch 6/10
40/40 [==============================] - 659s 16s/step - loss: 0.7132 - accuracy: 0.6576 - precision: 0.6532 - recall: 0.6720
Epoch 7/10
40/40 [==============================] - 644s 16s/step - loss: 0.6364 - accuracy: 0.7032 - precision: 0.7042 - recall: 0.7008
Epoch 8/10
40/40 [==============================] - 645s 16s/step - loss: 0.5070 - accuracy: 0.7512 - precision: 0.7516 - recall: 0.7504
Epoch 9/10
40/40 [==============================] - 647s 16s/step - loss: 0.4038 - accuracy: 0.8264 - precision: 0.8269 - recall: 0.8256
Epoch 10/10
40/40 [==============================] - 652s 16s/step - loss: 0.2682 - accuracy: 0.8880 - precision: 0.8943 - recall: 0.8800

In [ ]:
y_predicted = model.predict(X_test)

157/157 [==============================] - 639s 4s/step

In [ ]:
y_predicted = y_predicted.flatten()
y_predicted

array([0.00593786, 0.9931499 , 0.88452655, ..., 0.99076235, 0.9937711 ,
       0.9836619 ], dtype=float32)

In [ ]:
y_predicted = np.where(y_predicted > 0.5, 1, 0)
y_predicted

array([0, 1, 1, ..., 1, 1, 1])

In [ ]:
accuracy_score(y_test, y_predicted)

0.6444

In [ ]:
precision_score(y_test, y_predicted)

0.6114197530864197

In [ ]:
recall_score(y_test, y_predicted)

0.7924

In [ ]:
f1_score(y_test, y_predicted)

0.6902439024390243

In [ ]:
df_results_for_reviews_on_movies = pd.DataFrame(columns=['accuracy', 'precision', 'recall', 'f1_score'])

In [ ]:
df_results_for_reviews_on_movies.loc['reviews on movies', 'accuracy'] = accuracy_score(y_test, y_predicted)
df_results_for_reviews_on_movies.loc['reviews on movies', 'precision'] = precision_score(y_test, y_predicted)
df_results_for_reviews_on_movies.loc['reviews on movies', 'recall'] = recall_score(y_test, y_predicted)
df_results_for_reviews_on_movies.loc['reviews on movies', 'f1_score'] =  f1_score(y_test, y_predicted)

In [ ]:
df_results_for_reviews_on_movies

                  accuracy precision  recall  f1_score
reviews on movies   0.6444   0.61142  0.7924  0.690244

In [ ]:
saved_model_path = '/content/drive/MyDrive/data_for_colab/mobilebert_trained_on_imdb_26_december'

In [ ]:
print(saved_model_path)

/content/drive/MyDrive/data_for_colab/mobilebert_trained_on_imdb_26_december

In [ ]:
model.save(saved_model_path, include_optimizer=True)

WARNING:absl:Found untraced functions such as _update_step_xla, restored_function_body, restored_function_body, restored_function_body, restored_function_body while saving (showing 5 of 1342). These functions will not be directly callable after loading.

In [ ]:
from keras.models import load_model
loaded_model = load_model(saved_model_path)

In [ ]:
y_predicted_loaded = loaded_model.predict(X_test)
y_predicted_loaded

157/157 [==============================] - 642s 4s/step

array([[0.00593786],
       [0.9931499 ],
       [0.88452655],
       ...,
       [0.99076235],
       [0.9937711 ],
       [0.9836619 ]], dtype=float32)

In [ ]:
y_predicted_loaded = np.where(y_predicted_loaded > 0.5, 1, 0)

In [ ]:
df_loaded_results_for_reviews_on_movies = pd.DataFrame(columns=['accuracy', 'precision', 'recall', 'f1_score'])
df_loaded_results_for_reviews_on_movies.loc['reviews on movies', 'accuracy'] = accuracy_score(y_test, y_predicted_loaded)
df_loaded_results_for_reviews_on_movies.loc['reviews on movies', 'precision'] = precision_score(y_test, y_predicted_loaded)
df_loaded_results_for_reviews_on_movies.loc['reviews on movies', 'recall'] = recall_score(y_test, y_predicted_loaded)
df_loaded_results_for_reviews_on_movies.loc['reviews on movies', 'f1_score'] = f1_score(y_test, y_predicted_loaded)

In [ ]:
df_loaded_results_for_reviews_on_movies

                  accuracy precision  recall  f1_score
reviews on movies   0.6444   0.61142  0.7924  0.690244