В этом ноутбуке обучим модель LAMBERT распознавать спам в email

In [ ]:
model_name = 'lambert'
train_dataset_name = 'spam emails'

In [ ]:
!pip install tensorflow-text
import tensorflow_text as text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow-text
  Downloading tensorflow_text-2.11.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.8/5.8 MB 44.1 MB/s eta 0:00:00
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-text) (0.12.0)
Collecting tensorflow<2.12,>=2.11.0
  Downloading tensorflow-2.11.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (588.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 588.3/588.3 MB 1.7 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (21.3)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.3.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (57.4.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.51.1)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (15.0.6.1)
Collecting tensorboard<2.12,>=2.11
  Downloading tensorboard-2.11.2-py3-none-any.whl (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 66.7 MB/s eta 0:00:00
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.2.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.6.3)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (4.4.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.21.6)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.19.6)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.29.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.3.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (2.2.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.15.0)
Collecting flatbuffers>=2.0
  Downloading flatbuffers-23.1.4-py2.py3-none-any.whl (26 kB)
Collecting keras<2.12,>=2.11.0
  Downloading keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 50.0 MB/s eta 0:00:00
Collecting tensorflow-estimator<2.12,>=2.11.0
  Downloading tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 439.2/439.2 KB 36.6 MB/s eta 0:00:00
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.38.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.16.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.25.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.4.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.0.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (5.2.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (6.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.24.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.11.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.2.2)
Installing collected packages: flatbuffers, tensorflow-estimator, keras, tensorboard, tensorflow, tensorflow-text
  Attempting uninstall: flatbuffers
    Found existing installation: flatbuffers 1.12
    Uninstalling flatbuffers-1.12:
      Successfully uninstalled flatbuffers-1.12
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.9.0
    Uninstalling tensorflow-estimator-2.9.0:
      Successfully uninstalled tensorflow-estimator-2.9.0
  Attempting uninstall: keras
    Found existing installation: keras 2.9.0
    Uninstalling keras-2.9.0:
      Successfully uninstalled keras-2.9.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.9.1
    Uninstalling tensorboard-2.9.1:
      Successfully uninstalled tensorboard-2.9.1
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.9.2
    Uninstalling tensorflow-2.9.2:
      Successfully uninstalled tensorflow-2.9.2
Successfully installed flatbuffers-23.1.4 keras-2.11.0 tensorboard-2.11.2 tensorflow-2.11.0 tensorflow-estimator-2.11.0 tensorflow-text-2.11.0

In [ ]:
import tensorflow as tf
import tensorflow_hub as hub
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

Загружаем данные

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/data_for_colab/spam_emails.csv', encoding = "ISO-8859-1")
df

Mounted at /content/drive

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [ ]:
df.drop(columns=['Unnamed: 0', 'label'], inplace=True)
df.columns = ['DATA_COLUMN', 'IS_SPAM']

In [ ]:
df

                                            DATA_COLUMN  IS_SPAM
0     Subject: enron methanol ; meter # : 988291\r\n...        0
1     Subject: hpl nom for january 9 , 2001\r\n( see...        0
2     Subject: neon retreat\r\nho ho ho , we ' re ar...        0
3     Subject: photoshop , windows , office . cheap ...        1
4     Subject: re : indian springs\r\nthis deal is t...        0
...                                                 ...      ...
5166  Subject: put the 10 on the ft\r\nthe transport...        0
5167  Subject: 3 / 4 / 2000 and following noms\r\nhp...        0
5168  Subject: calpine daily gas nomination\r\n>\r\n...        0
5169  Subject: industrial worksheets for august 2000...        0
5170  Subject: important online banking alert\r\ndea...        1

[5171 rows x 2 columns]

In [ ]:
df['DATA_COLUMN'] = df['DATA_COLUMN'].apply(lambda x: x.replace('\r\n', ' ').replace('\n', ' '))

In [ ]:
df

                                            DATA_COLUMN  IS_SPAM
0     Subject: enron methanol ; meter # : 988291 thi...        0
1     Subject: hpl nom for january 9 , 2001 ( see at...        0
2     Subject: neon retreat ho ho ho , we ' re aroun...        0
3     Subject: photoshop , windows , office . cheap ...        1
4     Subject: re : indian springs this deal is to b...        0
...                                                 ...      ...
5166  Subject: put the 10 on the ft the transport vo...        0
5167  Subject: 3 / 4 / 2000 and following noms hpl c...        0
5168  Subject: calpine daily gas nomination > > juli...        0
5169  Subject: industrial worksheets for august 2000...        0
5170  Subject: important online banking alert dear v...        1

[5171 rows x 2 columns]

In [ ]:
df['IS_SPAM'].value_counts()

0    3672
1    1499
Name: IS_SPAM, dtype: int64

In [ ]:
df_positive = df[df['IS_SPAM']==1]

In [ ]:
df_negative = df[df['IS_SPAM']==0]

Создаем тестовую и обучающую выборки

In [ ]:
# Тестовая выборка
n_test = df_negative.shape[0] // 2
df_negative_test = df_negative.tail(n_test)
n_test = df_positive.shape[0] // 2
df_positive_test = df_positive.tail(n_test)

In [ ]:
df_negative_test.shape

(1836, 2)

In [ ]:
df_positive_test.shape

(749, 2)

In [ ]:
df_positive_test

                                            DATA_COLUMN  IS_SPAM
2699  Subject: your mother knows you watch girls moa...        1
2702  Subject: 65 % off for all new software . pyrrh...        1
2703  Subject: [ wrenches ] 68 % off dreamweaver mx ...        1
2706  Subject: he reached around and fingered me whi...        1
2709  Subject: best meds around , paliourg haven ' t...        1
...                                                 ...      ...
5159  Subject: pictures streamlined denizen ajar cha...        1
5161  Subject: penny stocks are about timing nomad i...        1
5162  Subject: anomaly boys from 3881 uosda apaprove...        1
5164  Subject: slutty milf wants to meet you take th...        1
5170  Subject: important online banking alert dear v...        1

[749 rows x 2 columns]

In [ ]:
df_balanced_test = pd.concat([df_negative_test, df_positive_test])

In [ ]:
df_balanced_test.sample(10)

                                            DATA_COLUMN  IS_SPAM
4907  Subject: enron / hpl actuals for june 29 , 200...        0
4910  Subject: hi apology sorry company bent , summe...        1
3454  Subject: precis who ' ve mirth paliourg , ! va...        1
3835  Subject: resume - liz bellamy following is the...        0
3892  Subject: beaumont methanol this is to confirm ...        0
2902  Subject: f . o . m . hpl nom . eff . april 1 ,...        0
3424  Subject: canvas 2005 cable t v de 5 rambler wi...        1
3088  Subject: simple and quick pone line service ca...        1
3637  Subject: re : 98 - 6719 and 98 - 9676 robert ,...        0
4725  Subject: winning with small - cap daily tradin...        1

In [ ]:
df_balanced_test['IS_SPAM'].value_counts()

0    1836
1     749
Name: IS_SPAM, dtype: int64

In [ ]:
# Обучающая выборка
n_train = df_negative.shape[0] // 2
df_negative_train = df_negative.head(n_train)
n_train = df_positive.shape[0] // 2
df_positive_train = df_positive.head(n_train)

In [ ]:
df_balanced_train = pd.concat([df_negative_train, df_positive_train])

In [ ]:
df_balanced_train['IS_SPAM'].value_counts()

0    1836
1     749
Name: IS_SPAM, dtype: int64

In [ ]:
df_balanced_train.sample(10)

                                            DATA_COLUMN  IS_SPAM
1491  Subject: re : aquila header ( meter # 980072 )...        0
1330  Subject: txu deal # 108672 could you add meter...        0
2522  Subject: cheap pharmacy st do you want cheap a...        1
1654  Subject: fw : pymt for 03 / 01 sales adjustmen...        0
2374  Subject: digitize your memories with compaq sc...        0
2234  Subject: october flow at meter 982694 zavisch ...        0
2521  Subject: aquila header - 12 / 12 / 00 flow day...        0
2535  Subject: calpine daily gas nomination > ricky ...        0
2435  Subject: let ' s talk about your home loan . d...        0
1669  Subject: same day change - revision # 2 - txu ...        0

In [ ]:
X_train = df_balanced_train['DATA_COLUMN'].squeeze()
y_train = df_balanced_train['IS_SPAM'].squeeze()

In [ ]:
X_test = df_balanced_test['DATA_COLUMN'].squeeze()
y_test = df_balanced_test['IS_SPAM'].squeeze()

Работаем с моделью

In [ ]:
lambert_preprocess = hub.KerasLayer('https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3') # uses same thing as bert

WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.data_structures has been moved to tensorflow.python.trackable.data_structures. The old module will be deleted in version 2.11.

In [ ]:
lambert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/lambert_en_uncased_L-24_H-1024_A-16/2")

In [ ]:
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = lambert_preprocess(text_input)
outputs = lambert_encoder(preprocessed_text)

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/autograph/pyct/static_analysis/liveness.py:83: Analyzer.lamba_check (from tensorflow.python.autograph.pyct.static_analysis.liveness) is deprecated and will be removed after 2023-09-23.
Instructions for updating:
Lambda fuctions will be no more assumed to be used in the statement where they are used, or at least in the same block. https://github.com/tensorflow/tensorflow/issues/56089

In [ ]:
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
l = tf.keras.layers.Dense(1, activation='sigmoid', name="output")(l)

In [ ]:
model = tf.keras.Model(inputs=[text_input], outputs = [l])

In [ ]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_mask': (Non  0           ['text[0][0]']
                                e, 128),
                                 'input_word_ids':
                                (None, 128),
                                 'input_type_ids':
                                (None, 128)}

 keras_layer_1 (KerasLayer)     {'default': (None,   335141889   ['keras_layer[0][0]',
                                1024),                            'keras_layer[0][1]',
                                 'sequence_output':               'keras_layer[0][2]']
                                 (None, 128, 1024),
                                 'pooled_output': (
                                None, 1024),
                                 'encoder_outputs':
                                 [(None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                , (None, 128, 1024)
                                ]}

 dropout (Dropout)              (None, 1024)         0           ['keras_layer_1[0][25]']

 output (Dense)                 (None, 1)            1025        ['dropout[0][0]']

==================================================================================================
Total params: 335,142,914
Trainable params: 1,025
Non-trainable params: 335,141,889
__________________________________________________________________________________________________

In [ ]:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy'),
      tf.keras.metrics.Precision(name='precision'),
      tf.keras.metrics.Recall(name='recall')
]

model.compile(optimizer='adam',
 loss='binary_crossentropy',
 metrics=METRICS)

In [ ]:
history = model.fit(X_train, y_train, epochs=15)

Epoch 1/15
81/81 [==============================] - 96s 898ms/step - loss: 0.3886 - accuracy: 0.8282 - precision: 0.8588 - recall: 0.4873
Epoch 2/15
81/81 [==============================] - 76s 939ms/step - loss: 0.2234 - accuracy: 0.9323 - precision: 0.9184 - recall: 0.8411
Epoch 3/15
81/81 [==============================] - 79s 980ms/step - loss: 0.1761 - accuracy: 0.9485 - precision: 0.9290 - recall: 0.8905
Epoch 4/15
81/81 [==============================] - 82s 1s/step - loss: 0.1507 - accuracy: 0.9524 - precision: 0.9276 - recall: 0.9065
Epoch 5/15
81/81 [==============================] - 82s 1s/step - loss: 0.1362 - accuracy: 0.9547 - precision: 0.9305 - recall: 0.9119
Epoch 6/15
81/81 [==============================] - 83s 1s/step - loss: 0.1264 - accuracy: 0.9574 - precision: 0.9323 - recall: 0.9199
Epoch 7/15
81/81 [==============================] - 84s 1s/step - loss: 0.1173 - accuracy: 0.9613 - precision: 0.9379 - recall: 0.9279
Epoch 8/15
81/81 [==============================] - 84s 1s/step - loss: 0.1123 - accuracy: 0.9652 - precision: 0.9423 - recall: 0.9372
Epoch 9/15
81/81 [==============================] - 84s 1s/step - loss: 0.1074 - accuracy: 0.9640 - precision: 0.9316 - recall: 0.9453
Epoch 10/15
81/81 [==============================] - 84s 1s/step - loss: 0.1017 - accuracy: 0.9648 - precision: 0.9446 - recall: 0.9332
Epoch 11/15
81/81 [==============================] - 84s 1s/step - loss: 0.0963 - accuracy: 0.9656 - precision: 0.9447 - recall: 0.9359
Epoch 12/15
81/81 [==============================] - 84s 1s/step - loss: 0.0957 - accuracy: 0.9698 - precision: 0.9503 - recall: 0.9453
Epoch 13/15
81/81 [==============================] - 84s 1s/step - loss: 0.0885 - accuracy: 0.9733 - precision: 0.9558 - recall: 0.9519
Epoch 14/15
81/81 [==============================] - 84s 1s/step - loss: 0.0860 - accuracy: 0.9725 - precision: 0.9520 - recall: 0.9533
Epoch 15/15
81/81 [==============================] - 84s 1s/step - loss: 0.0867 - accuracy: 0.9691 - precision: 0.9466 - recall: 0.9466

In [ ]:
y_predicted = model.predict(X_test)
y_predicted

81/81 [==============================] - 77s 945ms/step

array([[1.4062412e-03],
       [4.4393749e-04],
       [1.6549472e-03],
       ...,
       [9.9907947e-01],
       [5.3579724e-01],
       [5.3235728e-01]], dtype=float32)

In [ ]:
y_predicted = np.where(y_predicted > 0.5, 1, 0)
y_predicted

array([[0],
       [0],
       [0],
       ...,
       [1],
       [1],
       [1]])

In [ ]:
y_test

2536    0
2537    0
2539    0
2540    0
2542    0
       ..
5159    1
5161    1
5162    1
5164    1
5170    1
Name: IS_SPAM, Length: 2585, dtype: int64

In [ ]:
accuracy_score(y_test, y_predicted)

0.9500967117988395

In [ ]:
precision_score(y_test, y_predicted)

0.9317548746518106

In [ ]:
recall_score(y_test, y_predicted)

0.8931909212283045

In [ ]:
f1_score(y_test, y_predicted)

0.9120654396728016

In [ ]:
df_results_on_test = pd.DataFrame(columns=['accuracy', 'precision', 'recall', 'f1_score'])

In [ ]:
index = model_name + ' trained on ' + train_dataset_name + ' and tested on ' + train_dataset_name + ' dataset'
df_results_on_test.loc[index, 'accuracy'] = accuracy_score(y_test, y_predicted)
df_results_on_test.loc[index, 'precision'] = precision_score(y_test, y_predicted)
df_results_on_test.loc[index, 'recall'] = recall_score(y_test, y_predicted)
df_results_on_test.loc[index, 'f1_score'] =  f1_score(y_test, y_predicted)

In [ ]:
df_results_on_test

,accuracy,precision,recall,f1_score
lambert trained on spam emails and tested on spam emails dataset,0.950097,0.931755,0.893191,0.912065

Сохраним обученную модель

In [ ]:
saved_model_path = '/content/drive/MyDrive/data_for_colab/lambert_trained_on_spam_emails_19_january'

In [ ]:
print(saved_model_path)

/content/drive/MyDrive/data_for_colab/lambert_trained_on_spam_emails_19_january

In [ ]:
model.save(saved_model_path, include_optimizer=True)

Сохраним датафреймы с результатами на обучающей выборке и на тестовой выборке

Сначала результаты для обучающей выборки

In [ ]:
name_for_train_csv = model_name + ' trained on ' + train_dataset_name + ' quality on train dataset'

In [ ]:
def calculate_f1_score(precision, recall):
    F1 = 2 * (precision * recall) / (precision + recall)
    return F1

In [ ]:
df_with_train_quality = pd.DataFrame(columns=['accuracy', 'precision', 'recall', 'f1_score'])

In [ ]:
for el in ['accuracy', 'precision', 'recall']:
    df_with_train_quality.loc[name_for_train_csv, el] = history.history[el][-1]
df_with_train_quality.loc[name_for_train_csv, 'f1_score'] = calculate_f1_score(history.history['precision'][-1], history.history['recall'][-1])

In [ ]:
df_with_train_quality

,accuracy,precision,recall,f1_score
lambert trained on spam emails quality on train dataset,0.969052,0.946595,0.946595,0.946595

In [ ]:
df_with_train_quality.to_csv('/content/drive/MyDrive/data_for_colab/dataframes/train_quality/' + name_for_train_csv + '.csv')

Теперь результаты для тестовой выборки

In [ ]:
name_for_test_csv = model_name + ' trained on ' + train_dataset_name + ' and tested on ' + train_dataset_name + ' dataset'

In [ ]:
df_results_on_test.to_csv('/content/drive/MyDrive/data_for_colab/dataframes/test_quality/' + name_for_test_csv + '.csv')